.container {
    width: 90%;
    height: 600px;
    margin: 20px 50px;
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    font-family: 'Special Elite', cursive;
}

h1, p, div, button {
    text-align: center;
}

h1 {
    font-size: 100px;
}

.correct {
    font-size: 40px;
}

.wanted {
    font-size: 40px;
}

option {
    font-family: 'Special Elite', cursive;
    
}
